.product-container {
  @media screen and( min-width: 768px) {
    width: 280px;
    margin: 5px 15px;
  }
  width: 40%;
  margin: 5px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px rgb(255, 2, 2);
  img {
    max-width: 220px;
    margin: auto;
    margin-top: 10px;
  }
  .btn {
    background-color: rgb(67, 199, 78);
    display: flex;
    padding-inline: 25px;
    margin-left: auto;
    align-items: center;    
    margin-right: auto;
    margin-bottom: 10px;
  }
  .product-body {
    padding: 0.1rem;
    .old-price {
      text-decoration: line-through;
      font-size: 12px;
      display: flex;
      justify-content: center;
    }
    .price {
      font-size: 17px;
      color: black;
      display: flex;
      display: flex;
      justify-content: center;
      padding-bottom: 0.1rem;
    }
  }
}
