.rare-flag{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #ffe039;
    color: #7b7d7b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 5px;
    border-radius: 2px;
}