@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.footer-style{
    background-color: #202020;
    color: white;
}
.logo{
    width: 25px;
    margin-bottom:10px;
    margin-right: 10px;
    height: 25px;
    justify-content: center;
}
.icon{
    width: 10px;
    height: 10px;
    margin-right:5px;
}
.nav-footer {
    min-width: 600px;
}